<div><strong>Nom : </strong>{{ contact.nom }}</div>
<div><strong>Prénom : </strong>{{ contact.prenom }}</div>
<div><strong>Société : </strong>{{ contact.societe }}</div>
<div><strong>Téléphone : </strong>{{ contact.telephone }}</div>
<div><strong>Email : </strong>{{ contact.email }}</div>
<div><strong>Adresse : </strong>{{ contact.adresse }}</div>
<div><strong>Description : </strong>{{ contact.description | nl2br }}</div>
